html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #000000 40%, #ff6600 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #f2f2f2;
}

header {
  background-color: #ff6600;
  display: flex;
  justify-content: right;
  padding: 15px;
}

header button {
  background: #000;
  color: #ff6600;
  border: none;
  margin: 0 15px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

header button:hover {
  background: #ff8533;
  color: #000;
}

section {
  display: none;
  padding: 30px;
  text-align: center;
}

section.active {
  display: block;
}


canvas {
  max-width: 400px;
  max-height: 200px;
  margin: 120px auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-content: center;
  gap: 30px;
  height: 100vh;
  color: #ffffff;
}


#rutinas {
  padding: 20px;
}

.rutinas-title {
  font-size: 34px;
  font-weight: bold;
  color: #ff6600;
  margin-bottom: 15px;
  text-align: left;
  display: block;
}

.rutinas-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 25px;
}

.rutinas-buttons button {
  width: 440px;
  height: 130px;
  background-color: #222;
  color: #ff6600;
  border: none;
  border-radius: 8px;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 10px #ff6600;
  transition: transform 0.3s, box-shadow 0.3s;
}

.rutinas-buttons button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ff8533;
}

/* Título Crear Rutina */
.crear-title {
  font-size: 34px;
  font-weight: bold;
  color: #ff6600;
  margin-bottom: 10px;
  text-align: left;
}

/* Botón Crear Rutina */
.crear-rutina {
  display: block;
  width: 440px;
  height: 130px;
  background-color: #ff6600;
  color: #000;
  border: none;
  border-radius: 8px;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 15px #ff6600;
  transition: 0.3s;
  text-align: center;
}

.crear-rutina:hover {
  background-color: #ff8533;
  box-shadow: 0 0 25px #ff8533;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-top: 30px;
}

.calendar div {
  background: #222;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

select {
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}



